@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

.title {
  text-align: center;
  padding-block: 30px;
  font-size: 30px;
}

.main-task {
  width: 50%;
  margin: auto;
}

form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-block: 20px;
}

input {
  font-size: 16px;
  padding-inline: 10px;
  padding-block: 7px;
  border: 1px solid #c3c3c3;
  width: 100%;
}

button {
  font-size: 16px;
  padding-inline: 10px;
  padding-block: 9px;
  border: none;
  background-color: green;
  color: white;
}
.mainContainerRow {
  margin-bottom: 30px;
}
.taskContainer {
  margin-block: 35px;
}
h2 {
  margin-block: 20px;
}

.titleButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c3c3c3;
  padding-inline: 12px;
  padding-block: 12px;
}
.divDescription {
  border: 1px solid #c3c3c3;
  padding-block: 10px;
  padding-inline: 9px;
}


@media screen and (max-width: 668px) {
  .main-task {
    width: 90%;
  }
}
@media screen and (max-width: 330px) {
  .titleButton {
    flex-direction: column;
}
.btn-group{
      padding-block: 16px;
  }
  #form{
    flex-direction: column;
  }
  #createTask{
    width: 100%;
  }
}